:global {
  .MuiDropzoneArea-root {
    height: 50vh !important;
  }
}

.jsonViewer{
  color: white;

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .dataContainer {
    color: black;
    display: flex;
    flex-direction: column;
  }
}