.compare {
  padding: 50px;

  .paper {
    min-height: 40vh;
    background-color: black;
    padding: 10px;
    overflow-y: auto;
    max-height: 40vh;
    overflow-y: auto;
  }

  .resultContainer {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
  }
}